.container__menu-nav > ul  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

    margin-top: 20px;
}

.container__menu-nav li {
    padding-left: 30px;
    padding-right: 30px;
}

.container__menu-nav li a {
    font-size: 20px;
    transition: color 0.3s linear;
    transition: font-size 0.3s linear;
}

.container__menu-nav li a:hover {
    color: #d55d35;
    font-size: 21px;
}