<footer class="container__footer">
    <div class="footer__content">

        <!-- Coluna 1: menu + email para contato -->
        <div class="footer__col">
            <ul class="footer__menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Dicas de Viagem</a></li>
                <li><a href="#">Roteiros</a></li>
                <li><a href="#">Galeria de Fotos</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>

            <p class="footer__contact">contato&#64;blogaquiacola.com</p>
        </div>
            
        <!-- Coluna 2: logo + redes sociais -->
        <div class="footer__col">
            <img class="footer__logo" src="../../../assets/logo-white.png" alt="Logo AquiAcolá">

            <div class="footer__social">
                <a href="https://www.instagram.com/">
                    <img src="../../../assets/redes-sociais/instagram (1).png" alt="Ícone do instagram">
                </a>
            
                <a href="https://www.tiktok.com/">
                    <img src="../../../assets/redes-sociais/tik-tok (1).png" alt="Ícone do Tiktok">
                </a>
        
                <a href="https://www.youtube.com/">
                    <img src="../../../assets/redes-sociais/youtube (1).png" alt="Ícone do Youtube">
                </a>
            
                <a href="https://www.pintrest.com/">
                    <img src="../../../assets/redes-sociais/logotipo-do-pinterest.png" alt="Ícone do Pintrest">
                </a>
            </div>
        </div>

        <!-- Coluna 3: frase -->
        <div class="footer__col">
            <p class="footer__frase">Viajar é colecionar memórias pelo mundo!</p>
        </div>
    </div>

    <hr>

    <p>© 2025 Blog AquiAcolá. Todos os direitos reservados.</p>
</footer>
