<div class="container__about">
    <h1>SOBRE O BLOG</h1>

    <div class="container__about-content">
        <div class="about-text">
            <p>
                Olá! Meu nome é Sofia e sou apaixonada por descobrir o mundo — seja em grandes aventuras ou pequenos detalhes de uma nova cidade.
                Criei este blog para compartilhar minhas experiências, dicas e aprendizados que fui colecionando ao longo das minhas viagens. Cada destino me ensinou algo único, e acredito que viajar é uma forma linda de se conectar com o novo, com o outro e com a gente mesmo.
                Aqui você vai encontrar roteiros, curiosidades, inspirações e muitas histórias reais. Espero que esse cantinho te inspire a colocar o pé na estrada e viver momentos inesquecíveis também.
            </p>
        </div>

        <div class="about-image">
            <img src="../../../assets/foto-sobre.jpg" alt="Mulher em pé no meio de uma avenida">
        </div>
    </div>

</div>
