<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" 
            alt=""
            height="200px"
            srcset="" 
        >
    </div>
  
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
    </div>
    <div class="big-card__description">
            <p>
                <a href="#">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste, eaque consectetur facere ullam aut earum veritatis? Nostrum inventore, quaerat, quas ratione tempore magnam laudantium voluptate voluptates fuga repellendus ipsa sapiente!
                </a>
            </p>
        
    </div>
</div>
