.container__menu-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__menu-title > img{
    width: 500px;
    height: auto;
    /*font-size: 135px;
    font-family: 'segoe UI';*/
    
    
}

.container__menu-title > hr{
    width: 100%;
    height: 1px;
    background-color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}