<div class="container__travel-tips">
    <div class="travel-tips__title">
        <h1>DICAS DE VIAGEM</h1>
        <p>Inspire-se com truques, experiências e conselhos para tornar sua próxima aventura inesquecível!</p>
    </div>

    <div class="travel-tips__cards">
        <app-small-card cardTitle="Aprenda como organizar sua viagem com antecedência" photoCover="https://images.pexels.com/photos/6954790/pexels-photo-6954790.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            
        </app-small-card>

        <app-small-card cardTitle="Como montar looks versáteis com poucas peças" photoCover="https://images.pexels.com/photos/996329/pexels-photo-996329.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            
        </app-small-card>

        <app-small-card cardTitle="Como encontrar passagens aéreas mais baratas" photoCover="https://images.pexels.com/photos/674783/pexels-photo-674783.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            
        </app-small-card>

        <app-small-card cardTitle="Como tirar fotos incríveis em qualquer lugar" photoCover="https://images.pexels.com/photos/1960183/pexels-photo-1960183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            
        </app-small-card>
    </div>
</div>
