


<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            Id="1"
            photoCover="https://images.pexels.com/photos/7365337/pexels-photo-7365337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" 
            cardTitle="PREPARANDO A MALA PERFEITA"
            cardDescription="Essenciais que você não pode esquecer na próxima aventura."
            >
        </app-big-card>

        <app-big-card 
            photoCover="https://images.pexels.com/photos/1534560/pexels-photo-1534560.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" 
            cardTitle="ROTEIRO DE 3 DIAS EM LISBOA"
            cardDescription="O melhor da capital portuguesa em pouco tempo."
            >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card Id="2" cardTitle="Como Planejar sua Primeira Viagem Internacional" photoCover="https://images.pexels.com/photos/68704/pexels-photo-68704.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></app-small-card>

        <app-small-card Id="3" cardTitle="5 Apps que Todo Viajante Deveria Ter" photoCover="https://images.pexels.com/photos/4549408/pexels-photo-4549408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></app-small-card>

        <app-small-card Id="4" cardTitle="Um Final de Semana em Campos do Jordão" photoCover="https://images.pexels.com/photos/31515996/pexels-photo-31515996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"></app-small-card>
    </div>
</div>
