<div class="container__menu-bar">
    <ul>
        <li>
            <a href="https://www.instagram.com/">
                <img src="../../../assets/redes-sociais/instagram (1).png" alt="Ícone do instagram">
            </a>
        </li>
     
        <li>
            <a href="https://www.tiktok.com/">
                <img src="../../../assets/redes-sociais/tik-tok (1).png" alt="Ícone do Tiktok">
            </a>
        </li>
       
        <li>
            <a href="https://www.youtube.com/">
                <img src="../../../assets/redes-sociais/youtube (1).png" alt="Ícone do Youtube">
            </a>
        </li>
        
        <li>
            <a href="https://www.pintrest.com/">
                <img src="../../../assets/redes-sociais/logotipo-do-pinterest.png" alt="Ícone do Pintrest">
            </a>
        </li>
    </ul>
</div>
